APPSHEET_APP_ID=REEMPLAZAR
APPSHEET_ACCESS_KEY=REEMPLAZAR
APPSHEET_DOMAIN=www.appsheet.com
APPSHEET_LOCALE=en-US
APPSHEET_TIMEZONE=Pacific SA Standard Time

APP_ROOT_FOLDER_ID=REEMPLAZAR
REPORT_FOLDER_NAME=INFORMES_SEMANALES
MAX_REPORT_PHOTOS=6

REPORT_WEBHOOK_TOKEN=REEMPLAZAR_CON_UN_TOKEN_LARGO
